@use 'global/styles/mixins';
@use 'global/styles/variables';

.select {
  padding: variables.$spacing-8;
  border-radius: variables.$rounded-4;
  @include mixins.button($type: 'primary');

  &__option {
    background: variables.$color-blue-light;
  }
}
