@use 'global/styles/mixins';
@use 'global/styles/variables';

.side-navigation {
  width: 220px;
  height: calc(100vh - variables.$appNavigationHeight);
  box-sizing: border-box;
  padding: variables.$spacing-2;
  background: variables.$bg-color-side-navigation;
  border-right: 2px solid variables.$color-black;
  overflow-y: auto;

  &__items-wrapper {
    display: flex;
    flex-direction: column;
  }

  &__section__title {
    text-align: center;
    padding: variables.$spacing-8;
    background: variables.$color-gray-ultralight;
  }
}
