@use '../../global/styles/mixins';
@use '../../global/styles/variables';

.button {
  font-family: 'Roboto', sans-serif;
  font-size: variables.$font-size-sm;
  font-weight: variables.$font-weight-medium;

  &--primary {
    @include mixins.button($type: 'primary');
  }

  &--secondary {
    @include mixins.button($type: 'secondary');
  }

  &--full-width {
    width: 100%;
  }

  padding: variables.$spacing-8;
}
