@use 'global/styles/variables';

.side-navigation__item {
  text-align: left;
  padding: variables.$spacing-8 variables.$spacing-8;
  border-top: 1px solid variables.$color-gray-light;
  border-left: 5px solid variables.$color-white;
  background: variables.$color-white;
  transition: variables.$transition-background;
  cursor: pointer;

  &:last-child {
    border-bottom: 1px solid variables.$color-gray-light;
  }

  &--active {
    font-weight: variables.$font-weight-bold;
    border-left: 5px solid variables.$color-green-dark;
  }

  &:hover {
    background: lighten(variables.$color-green-light, 20%);
  }
}
