$color-white: #ffffff;
$color-black: #000000;
$color-gray-ultralight: #e3e3e3;
$color-gray-light: #a6a6a6;
$color-gray-dark: #4d4d4d;
$color-blue-light: #b1dfff;
$color-blue-dark: #0015a0;
$color-green-light: #9bdfbd;
$color-green-dark: #087e31;
$color-red-light: #fac3c3;
$color-red-dark: #d00d0d;
$color-yellow-light: #ffebbb;
$color-yellow-dark: #ffe608;
$color-error-background: #fee2e2;
$color-overlay: #0000008c;

$bg-color-navigation: #fafafa;
$bg-color-side-navigation: #fafafa;

$font-size-sm: 14px;
$font-size-md: 16px;
$font-size-lg: 18px;
$font-size-xl: 22px;

$spacing-2: 2px;
$spacing-4: 4px;
$spacing-8: 8px;
$spacing-16: 16px;
$spacing-24: 24px;
$spacing-32: 32px;
$spacing-36: 36px;
$spacing-80: 80px;

$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

$rounded: 4px;

$transition-opacity: opacity 0.2s ease-in-out;

$page-padding: 24px;

$app-navigation-height: 70px;
